<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Homes</h1>
  </div>
  <section>
    <%= render "words/form", word: @word %>
  </section>
  <section>
    <h2>Words</h2>
    <% @words.each do |word|%>
      <ul>
        <li>
          <span><%= word.created_at %></span><span><%= word.name %></span>
        </li>
      </ul>      
    <% end %>
    <%= link_to "words", words_path%>
  </section>
  <section>
    <h2>Events</h2>
    <% @events.each do |event|%>
      <ul>
        <li>
          <span><%= event.created_at %></span><span><%= event.study_event_type %></span>
        </li>
      </ul>      
    <% end %>
    <%= link_to "events", study_events_path%>
  </section>
</div>
