<header>
    <nav class="bg-blue-500 p-4">
      <div class="container mx-auto">
        <div class="flex justify-between items-center">
          <div class="text-white font-bold">
            <%= link_to "English Note", root_path, class: "text-white no-underline" %>
          </div>
          <ul class="flex">
            <% if current_user %>
              <li class="mr-6">
                <%= link_to "word", words_path, class: "text-white no-underline" %>
              </li>
              <li class="mr-6">
                <%= link_to "sentence", root_path, class: "text-white no-underline" %>
              </li>
              <li class="mr-6">
                <%= link_to "Edit Profile", edit_user_path(current_user.id), class: "text-white no-underline"  %>
              </li>
              <li class="mr-6">
                <%= link_to "Logout", :logout, method: :post, class: "text-white no-underline"  %>
              </li>
            <% else %>
              <li class="mr-6">
                <%= link_to "Register", new_user_path, class: "text-white no-underline"  %> 
              </li>
              <li class="mr-6">
                <%= link_to "Login", :login, class: "text-white no-underline"  %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>