<%= form_with(model: word, url: words_path, class: "contents") do |form| %>
  <% if word.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
        <% word.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :word_class %>
    <%= form.select :word_class, options_for_select(Word::WORD_CLASS), name: "word_class", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"  %>
  </div>


  <div class="my-5">
    <%= form.label :word_means %>
    <% word.word_means.each do |mean|%>
      <%= form.text_field mean, name: "forms_word[word_means[0]]", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", value: mean %>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
